.section {
    max-width: 800px;
    padding: 15px;
    align-items: center;
    margin:5px auto;

    background: #e6bd4e;
    border: 4px solid #9c8033;
    box-shadow: 8px 8px 0 lightgrey;
    border-radius: 10px;
}

.canvas-and-value-sliders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
}

h1 {
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkslategrey;
}